<div class="container">
  <h1>Contacto</h1>

<div #textos>
  <p appResaltado>Esta es la pagina de contacto, puedes enviarnos cualquier duda</p>
</div>
<!-- 
  <label for="width">Tamaño del slider</label>
  <input type="number" name="width" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="resetearSlider();">Resetear Slider</button>
  <div *ngIf="anchuraToSlider">
    <slider [anchura]="anchuraToSlider" [etiquetas]="caption" (conseguirAutor)="getAutor($event)"></slider>
  </div>

  <div *ngIf = "autor">
    {{autor.nombre + " " + autor.web}} 
  </div> -->
  
  
</div>