<main>
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{email}}</p>
    </div>
    <article class="about">
        <h2>Sobre mi</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa laudantium minus dignissimos quisquam iusto quae fuga praesentium, odio porro eveniet exercitationem nostrum quam aut cupiditate ad numquam nulla dolorum quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ad nulla voluptatum quaerat, optio, magnam ea quibusdam suscipit praesentium iusto quae asperiores doloremque, illo qui harum laudantium quas dolores vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repellat ea inventore consequatur corporis eos reprehenderit doloribus soluta rem libero quas quam obcaecati dolorum placeat, nesciunt accusamus officiis voluptatum facere.</p>
    </article>
</main>


