/*importar fuentes customs*/

@font-face{
    font-family: 'yanone';
    src: url('../fonts/yanone.ttf');
}

@font-face {
    font-family: 'finger';
    src: url('../fonts/finger.ttf');
}

/*Generales*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'yanone', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url('../img/pattern.png');
    background-attachment: fixed;
}


/*Header*/

header{
    display: block;
    width: 100%;
    height: 90px;
    background-color: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul {
display: block;
width: 40%;
height: inherit;
margin: -3px auto;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 89px;
}

header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 300ms;
}

header ul li a:hover, .actived{
    background-color: rgba(0, 0, 0, 0.8);
}

#logo a{
    font-family: 'finger';
    font-size: 30px;
    transition: color 500ms, transform 500ms;
}


header #logo a:hover{
     background-color: transparent;
     color: black;
     transform: scale(1.5);
}

/*Contenedor principal*/

#content{
    min-height: 600px;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding-top: 120px;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
}

/*Pie de pagina*/

footer{
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/*seccion con formulario*/

.container{
    padding: 50px;
    padding-top: 10px;
}
.container .image{
    float: left;
    padding-top: 10px;
    width: 49%;
}

.container .image img{
    width: 100%;
}

.container .data{
    float: left;
    width: 48%;
    margin-left: 25px;
}
.container h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: block;
}

form{
    width: 80%;

}

form label{
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 40%;
    padding: 5px;
}

form input[type="submit"], button, .button-edit, .button-delete{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    border: 1px solid rgba(13, 67, 133, 1);
    background-color: rgba(53, 103, 164, 1);
    cursor: pointer;
}

.button-edit, .button-delete{
    width: 30%;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.button-edit{
    background-color: orange;
}
.button-delete{
    background-color: red;
}

form input[type="submit"]:hover,
button:hover{

    border: 1px solid rgba(13, 67, 133, 1);
    background-color: rgba(13, 67, 133, 0.7);

}

form input:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.formError{
    font-size: 13px;
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
}

.message{
    width: 50%;
    padding: 5px;
    border:1px solid #eee;
    
}
.success{
    background-color: green;
}

.message a{
    color: white;
}

.failed{
    background-color: red;
    color: white;
}

/*Projects*/

.project{
    list-style: none;
    display: block;
    float: left;
    width: 28%;
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.project img{
    width: 100%;
}

.project a{ 
    text-decoration: none;
    color: #000000;
}

#preloadImage{
    width: 100px;
  
}

#containerSmaillImage{
    float: none;
}

.confirm{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    color: red;
}